.homeContainer{
  position: absolute;
  display: flex;
  top: 60px;
  width: 100vw;
  height: fit-content;
  flex-direction: column;
}

.homeSectionA{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  width: 100vw;
  overflow: hidden;
}
.homeFrontLogo{
  position: absolute;
  z-index: 2;
  height: 20vw;
  width: 45vw;
  background-image: url('./leaguelogo.png');
  background-size: cover;
  background-position: center;
}
.homeBackLogo{
  position: absolute;
  z-index: 2;
  height: 25vw;
  width: 55vw;
  background-image: url('./leaguelogo.png');
  background-size: cover;
  background-position: center;
  display: none;
}
#home-bg-A{
  background-size: cover;
  margin: -2%;
  filter:blur(15px);
  }
.homeBackVid{
  display: flex;
  flex-direction: column;
  width: 100%;
  height:fit-content;
  overflow: hidden;
  height: calc(60vh + 60px);
  justify-content: center;
  align-items: center;
}
#frontVid{
position: absolute;
top: 0px;
left: 0px;
right: 0px;
bottom: 0px;
display: block;
  margin-left: auto;
  margin-right: auto;
}


.homeSectionABottom{
width: 100vw;
height: 50vh;
overflow: hidden;
background-color: white;
}
.homeFrontVidWrap{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5vh;
  height: 60vh;
  width: 85vw;
  z-index: 2;
}
.homeFrontVidFrame{
  display: flex;
  border: 2px solid rgb(179, 177, 177);
  height: 105%;
  width: 97.5%;
  position: absolute;
  z-index: 2;
  justify-content: center;
  align-items: center;
}

.homeFrontVid{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
}

@media screen and (max-width: 500px) {
  .homeFrontVidWrap{
    z-index: -1;
  }
  #home-bg-A{
    filter:blur(0);
    }
  .homeBackVid{
    height: 100%;
    width: fit-content;
  }
  .homeBackLogo {
    display: flex;
  }
}