
.map-wraper {
  display: flex;
  width: 100vw;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.game-map {
  position: relative;
  width: 65%;
  /* height: 100%; */
  /* border: 1px solid red; */
  background-color: black;
  background-size:auto;
  background-position: center;
}


.all-info {
 height: 100vh;
 width: 50%;
 /* border: 1px solid red; */
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
 margin: 0;
 padding: 0;
 position:absolute;
 right: 0;
}

.first-line {
  font-size: 32px;
  font-weight: 900;
  color: white;
  margin: 0;
  font-style: italic;
}

.second-line {
  font-size: 90px;
  font-weight: 900;
  color: white;
  margin: 0;
  font-style: italic;
}

.third-line {
  font-size: 20px;
  font-weight: 300;
  color: white;
}

.buttons-tag > button {
  font-size: 20px;
  width: 200px;
  height: 50px;
}

.button-one {
  background-color: rgb(208 169 92);
  margin-right: 20px;
  width: 200px;
  height: 50px;
  font-size: 20px;
}
.button-one:hover{
  cursor: pointer;
}

.button-two {
  background-color: rgb(89 199 228);
  width: 200px;
  height: 50px;
  font-size: 20px;
}
.button-two:hover{
  cursor: pointer;
}

.buttons-tag {
  display: flex;
  padding: 0 30px;
}

@media screen and (max-width: 500px) {
  .map-wraper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    height: 70vh;
  }
  .all-info{
    position:relative;
    background-color: none;
    width: 100%;
    transform: scale(.7);
  }
  .game-map{
    width: 100%;
    z-index: -1;
  }
}