#champSplash {
	width: 75%;
	height: 70%;
	margin-top: 0px;
	border-radius: 15px;
	z-index: 1;
	/* box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset; */
}

.splashImg {
	width: 100%;
	display: flex;
	justify-content: center;
	position: absolute;
	top: 12%;
	/* box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset; */
}

.main {
	/* margin-top: 30px; */
	width: 100%;
	position: relative;
	/* box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset; */
}

.backgroundImg {
	width: 100%;
	height: 100%;
	display: block;
	filter: blur(9px);
	background-size: cover;
	position: relative;
	z-index: 0;
	margin: -3px;
	/* overflow: hidden; */
	/* transform: scale(1.03); */
	box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}
