@import url(//db.onlinewebfonts.com/c/12420e8c141ca7c3dff41de2d59df13e?family=BeaufortforLOL-Bold);

body {
	background-color: black;
	overscroll-behavior: none;
}

.main {
	position: relative;
	width: 100%;

	padding-top: 60px;
	height: 100%;
	justify-content: center;
	width: 100%;
}

.main::before {
	content: "";
	position: absolute;
	background-image: var(--champ-splash-url);
	background-size: cover;
	height: 100%;
	width: 100%;
	filter: blur(8px);
	z-index: -1;

	transition: background-image 300ms ease-in;

	mask-image: linear-gradient(rgb(0, 0, 0) 65%, rgba(0, 0, 0, 0) 98%);
}

.descriptionContainer {
	box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
	color: white;
	display: flex;
	flex-direction: column;
	font-style: italic;
	font-weight: bold;
	justify-content: center;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	padding: 0 20vw;

	margin-top: -5.5em;
}

.champInfo {
	display: flex;
	background: rgba(0, 0, 0, 0.158);
	border: 2px solid rgba(255, 255, 255, 0.2);
}

.desc {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	width: 50%;
	padding: 2.25rem;
	box-align: center;
}

.infoDivider {
	width: 1px;
	margin: 2.5rem 0px;
	background: rgba(255, 255, 255, 0.2);
	transform-origin: center top;
}

.lore {
	max-width: 100%;
	color: rgb(255, 255, 255);
	font-size: 0.875rem;
	line-height: 1.28571;
	letter-spacing: 0.08em;
}

.name,
.title {
	letter-spacing: 0.1em;
	display: block;
	user-select: none;
}

.name {
	font-size: 75px;
}

.champSplashContainer {
	display: flex;
	justify-content: center;
	margin-top: 1.5em;
	width: 100%;
}

.champSplash {
	user-select: none;
	border-radius: 15px;
	margin-top: 0px;
	width: 80%;
	mask-image: linear-gradient(rgb(0, 0, 0) 65%, rgba(0, 0, 0, 0) 98%);
}

.roles {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	width: 50%;
	padding: 2.75rem;
	text-align: center;
}

.tags {
	font-size: 25px;
}

.title {
	font-size: 25px;
}

.chevronButtonLeft,
.chevronButtonRight {
	position: absolute;
	height: 5em;
	color: rgba(255, 255, 255, 0.5);
	z-index: 2;
	cursor: pointer;
}

.chevronButtonLeft {
	top: 45%;
	left: 5em;
}

.chevronButtonRight {
	top: 45%;
	right: 5em;
}

.chevronButtonLeft:hover,
.chevronButtonRight:hover {
	color: rgba(255, 255, 255);
	transition: color 200ms ease-in;
}
