@import url(//db.onlinewebfonts.com/c/12420e8c141ca7c3dff41de2d59df13e?family=BeaufortforLOL-Bold);

body {
	background-color: black;
}

.backgroundImg {
	box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
	display: block;
	filter: blur(8px);
	height: 100%;
	margin: auto;
	overflow: visible;
	position: absolute;
	width: 100%;
	z-index: 0;
}

.content {
	align-items: center;
	color: white;
	display: flex;
	flex-direction: column;
	font-style: italic;
	font-weight: 900;
	height: 40%;
	justify-content: center;
	letter-spacing: 0.03em;
	margin-top: 470px;
	padding-left: 100px;
	padding-right: 100px;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	top: 0;
	width: 100%;
	z-index: 2;
}
.main {
	position: relative;
	width: 100%;
}

.name {
	font-size: 75px;
}
.splashImg {
	display: flex;
	justify-content: center;
	position: absolute;
	top: 12%;
	width: 100%;
}

.title {
	font-size: 25px;
}

#champSplash {
	border-radius: 15px;
	height: 70%;
	margin-top: 0px;
	width: 75%;
	z-index: 1;
}
