.nav-container {
  display: flex;
  position: fixed;
  height: 60px;
  width: 100vw;
  background-color: rgb(29, 29, 29);
  justify-content: space-between;
  padding: 0 5%;
  z-index: 3;
}

.nav-container > a {
  display: flex;
  align-items: center;
}
.nav-logoImg {
  height: 40px;
}
.nav-ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  /* border: 1px solid red; */
}
.nav-ul > * {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease-in-out;
}
.nav-ul > *:hover {
  color: #ff2f2f;
}

@media screen and (max-width: 600px) {
  .nav-ul {
    width: 70%;
  }
}